$white-color: #FFF;
$text-color:  #242424;
$text-color-secondary: #313131;
$warning-color: #A20025;

$bg-dark-brown: #A07048;
$bg-light-brown: #FFEEDF;
$bg-silver: #F1F1F1;

$placeholder-color: #ACACAC;
